* {
  scroll-behavior: smooth;
  user-select: text;
}

html {
  display: flex;
  justify-content: center;
  align-content: center;
}

body {
  font-family: "Montserrat";
  background-color: #f5f7fa;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-self: center;
  align-self: center;
  justify-content: center;
  width: 95%;
}

.Main-section {
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff;
  /* box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1); */
  position: relative;
  width: 100%;
}
/*
#Burger-menu {
  
  display: flex;
  gap: 0;
}
*/
.Burger-menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  margin-top: 0.35%;
  margin-right: 92.83%;
  opacity: 70%;
  transition-duration: 0s;

  /*
  border: 3px solid green; */
}
/*
.Burger-menu-container:hover {
  transition-duration: 0.05s; /*
  box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.1); 
}
*/
.Burger-menu-container-large {
  opacity: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 1.65em;
  padding-top: 0%;
  padding-left: 0%;
  margin-top: 0%;
  margin-right: 67.26%;
  opacity: 100%;
  width: 32%;
  height: fit-content;
  background-color: #12356ab9;
  border: 0.29rem #12356ab9 solid;
}
/*
.Burger-menu-container-large:hover {
  opacity: 100%;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
*/
.Burger-menu-icon-1 {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 76%;
  height: 10%;
  opacity: 100%;
  transition-duration: 0.5s;
}

.Burger-menu-icon-2 {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 16%;
  opacity: 100%;
  transition-duration: 0.5s;
}

.Burger-menu-list {
  margin-top: 0px;
  display: flex;
  margin-bottom: 0%;
  justify-content: space-between;
  height: 80.7%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  row-gap: 0%;
  list-style: none;
  opacity: 80%;
  /* border: 3px solid rgb(255, 0, 0); 
  /*
  height: fit-content;
  width: 100%;
  /*
  border: 3px rgb(16, 15, 15) solid; */

  /*
  background-color: #12356ab9; */
}

.Burger-menu-list-item-container {
  text-decoration: none;
  border: 2px solid rgb(223, 220, 220);
  height: 11%;
}

.Burger-menu-list-item {
  display: flex;
  text-align: left;
  opacity: 100%;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 225%;
  height: 79.3%;
  color: #ffffff;
  text-decoration: none;
  /* border: 3px solid rgb(4, 4, 4); */
  opacity: 100%;
  scroll-behavior: smooth;
}

.Burger-menu-list-item:hover {
  opacity: 100%;
  color: #fb6d3a !important;
  transition-duration: 0.18s;
}

/* "Main content" section */

.Main-content-section {
  position: relative;
  padding: 2.5% 7.5% 12% 7.5%;
  width: 60%;
}

nav {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 15px;
  background-color: #12356ab9;
  padding: 0 2% 0 2%;
  border-radius: 10px;
}

.Top-menu-options-item {
  color: #fb6d3a;
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  opacity: 100%;
  transition-duration: 0.5s;
  scroll-behavior: smooth;
}

.Top-menu-options-item:hover {
  opacity: 70%;
  transition-duration: 0.35s;
}

.Main-Content-Titles {
  font-style: normal;
  font-weight: bold;
  font-size: 170%;
  line-height: 50%;
  color: #000000;
  margin-bottom: 10px;
}

/* "About Me" section */

.About-me-section {
  width: fit-content;
  height: fit-content;
}

/*
.about-me-profession {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  font-style: normal;
  font-weight: bold;
  line-height: 17px;
  margin-bottom: 20px;
}
*/

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 325%;
  color: #1309094b;
  margin: 0 0 0px 0;
}

.about-me-russian-name {
  font-style: normal;
  font-weight: bold;
  font-size: 200%;
  color: #1309094b;
  margin-top: 1px;
}

.about-me-text {
  font-style: normal;
  font-weight: normal;
  font-size: 90%;
  line-height: 190%;
  color: #595959;
}

/* "My Projects" section*/
/*
.My-Projects-section {
  margin-bottom: 50px;
}

.My-Projects-list {
  padding: 0 0 0 18px;
}

.My-Projects-item {
  color: #000000;
  font-weight: bold;
}

.My-Projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.My-Projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.My-Projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* "My "Work Experience"-section */
/*
My-Work-Experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 10px 0;
}
*/
.My-Work-Experience-employer {
  font-style: normal;
  font-weight: bold; /*
  font-size: 16px; */

  color: #fb6d3a;
}

.My-Work-Experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 83.5%;

  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.My-Work-Experience-devider {
  color: #000000;
}

.My-Work-Experience-duties {
  padding: 0 0 0 5%;
}

.My-Work-Experience-duties-item {
  font-style: normal;
  font-weight: normal;
  font-size: 87.5%;
  line-height: 150%;
  color: #595959;
}

.My-Work-Experience-company {
  margin: 0 0 0 0;
}

/* "My "Education"-section */

.My-education-section {
  margin-top: 50px;
}

.My-Education-college {
  font-style: normal;
  font-weight: bold;
  /* font-size: 16px; */
  color: #fb6d3a;
}

.My-Education-specialty {
  font-style: normal;
  font-weight: bold;
  font-size: 100%;
  color: #000000;
}

.Education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 85%;

  color: #a8a8a8;
}

.My-Education-period-devider {
  color: #000000;
}

.Back-to-Top {
  position: absolute;
  scroll-behavior: smooth;
  margin-left: 50%;
  margin-bottom: 25%;
}

.Back-to-Top-icon {
  opacity: 25%;
  transition-duration: 0.75s;
}

.Back-to-Top-icon:hover {
  opacity: 50%;
  transition-duration: 0.75s;
}

/* Sidebar Section */
.Sidebar-section {
  background-color: #12356ab9;
  width: 37.55%; /*  379.75px; */
  padding-top: 75px;
  text-align: center;
  text-shadow: rgb(80, 84, 87);
  /*
  display: flex;
  flex-direction: row;
  column-gap: 4%;
  */
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.My-Photo {
  width: 100%;
}

.Location-Title {
  font-style: normal;
  font-weight: bold;
  font-size: 170%;

  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 1px;
}

.Sidebar-Title {
  font-style: normal;
  font-weight: bold;
  font-size: 150%;

  color: #ffffff;
  margin-bottom: 1px;
}

.Location-section {
  font-style: normal;
  font-weight: bold;
  font-size: 100%;

  color: #ffffff;
}

.Location-item {
  font-style: normal;
  font-weight: bold;
  font-size: 100%;

  color: #ffffff;
}

/* "Contacts"-section */

.Contacts-list {
  margin-top: 0px;
}
.Contacts-list-item {
  color: #fb6d3a;
  list-style: none;
}
.Contact-Type {
  font-style: normal;
  font-weight: bold;
  font-size: 100%;
  line-height: 140%;
  color: #ffffff;
}

.Contact-Content {
  color: #fb6d3a;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;

  text-decoration: none;
}

/* "Tech Skills"-section */
.Tech-Interests-list {
  margin-top: 1px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 6%;
}

.Tech-Skills-content {
  color: #fb6d3a;
  width: 90%;
}

.Tech-Skills-item {
  font-style: normal;
  font-weight: normal;
  font-size: 87.5%;
  line-height: 180%;
  color: #ffffff;
  margin-left: 0px;
}

/* "JS-Code"-section */

details {
  /* border: solid 1.5px red; */
  width: 99%;
  color: #fb6d3a;
}
summary {
  color: #fb6d3a;

  /*border: solid 1.5px red; */
}

summary:hover {
  cursor: pointer;
}

pre {
  font-size: 95%;
  text-align: left;
}

.Code-Example-Title {
  font-style: normal;
  font-weight: bold;
  font-size: 110%;
  color: #ffffff;
  height: 20px;
  /* border: solid 1.5px red; */
}

.Code-Text {
  text-align: left;
}

/* "Courses & Certificates" - Section */

.Certificate-text {
  color: #fb6d3a;
}

/* "Soft Skills"-section */

.Soft-Skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Soft-Skills-title {
  font-style: normal;
  font-weight: bold;
  font-size: 155%;

  color: #ffffff;
  margin-bottom: 0px;
}

.Soft-Skills-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1px;
  padding-right: 10%;
}

.Soft-Skills-content {
  color: #fb6d3a;
}
.Soft-Skills-item {
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 145%;
  color: #ffffff;
}

/* Footer-section */
.Footer-section {
  width: 100%;
  position: relative;
  background-color: inherit;
  /* box-shadow: 1.5px 1.5px 7px rgba(0, 0, 0, 0.45); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Footer-text {
  color: #1a75ffec;
  text-decoration: none;
}

.RS-School-section {
  width: 8%;
}

.Github-section {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: 15%;
}

.Github-logo {
  text-decoration: none;
  color: #63676dec;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #1a75ffec;
}

.Github-logo-image {
  text-decoration: none;
  width: 20%;
}

.Codewars-section {
  width: 26%;
  background-image: url(https://www.codewars.com/users/Stellarator85/badges/large/);
  background-size: 100% 200%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
