* {
  scroll-behavior: smooth;
  user-select: text;
}

html {
  display: flex;
  justify-content: center;
  align-content: center;
  min-width: 320px;
  padding: 3vh 0 3vh 0;
}

body {
  font-family: "Montserrat";
  background-color: #f5f7fa;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  align-items: center;
  justify-self: center;

  justify-content: center;
  justify-items: center;

  width: 95%;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.Main-section {
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);

  position: relative;
  width: 100%;
}
/*
#Burger-menu {
  
  display: flex;
  gap: 0;
}
*/
.Burger-menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  margin-top: 0.1%;
  margin-right: 93.75%;
  opacity: 70%;
  transition-duration: 0s;
  width: 5.6%;
  /*
  border: 3px solid green; */
}
/*
.Burger-menu-container:hover {
  transition-duration: 0.05s; /*
  box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.1); 
}
*/
.Burger-menu-container-large {
  opacity: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 11.15vh;
  padding-top: 0%;
  padding-left: 0%;
  margin-top: 0%;
  margin-right: 71.85%;
  opacity: 100%;
  width: 25.65vw;
  height: fit-content;
  background-color: #12356ab9;
  border: 0.29rem #12356ab9 solid; /*
  transition-duration: 0.2s; */
}
/*
.Burger-menu-container-large:hover {
  opacity: 100%;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
*/
.Burger-menu-icon-1 {
  display: flex;
  align-items: center;
  justify-items: center;
  opacity: 100%;
  transition-duration: 0.5s;
}

.Burger-menu-icon-2 {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 20%;
  opacity: 100%; /*
  transition-duration: 0.5s; */
}

.Burger-menu-list {
  margin-top: 0px;
  display: flex;
  margin-bottom: 0%;
  justify-content: space-between;
  height: 80.7%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  row-gap: 0%;
  list-style: none;
  opacity: 80%;
  /* border: 3px solid rgb(255, 0, 0); 
  /*
  height: fit-content;
  width: 100%;
  /*
  border: 3px rgb(16, 15, 15) solid; */

  /*
  background-color: #12356ab9; */
}

.Burger-menu-list-item-container {
  display: flex;
  text-decoration: none;
  border: 0.1rem solid rgb(223, 220, 220);
}

.Burger-menu-list-item {
  display: flex;
  text-align: left;
  opacity: 100%;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: calc(0.45rem + 34 * (100vw - 320px) / 1280);
  line-height: 100%;
  color: #ffffff;
  text-decoration: none;
  /* border: 3px solid rgb(4, 4, 4); */
  opacity: 100%;
  scroll-behavior: smooth;
}

.Burger-menu-list-item:hover {
  opacity: 100%;
  color: #fb6d3a !important;
  transition-duration: 0.125s;
}

/* "Main content" section */

.Main-content-section {
  position: relative;
  padding: 2.5% 7.5% 12% 7.5%;
  width: 50%;
}

nav {
  display: flex;
  justify-self: center;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  background-color: #12356ab9;
  border-radius: 10px;
  width: 100%;
  list-style: none;
  font-size: calc(0.4rem + 15 * (100vw - 320px) / 1280);

  margin-bottom: 0px;
}

.Top-menu-options-container {
  display: flex;
  flex-direction: row;
  border: 2px red solid;
}

.Top-menu-options-item {
  color: #fb6d3a;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  opacity: 100%;
  transition-duration: 0.5s;
  scroll-behavior: smooth;
}

.Top-menu-options-item:hover {
  opacity: 70%;
  transition-duration: 0.35s;
}

.Main-Content-Titles {
  font-style: normal;
  font-weight: bold;
  font-size: calc(0.575rem + 27.5 * (100vw - 320px) / 1280);
  line-height: 50%;
  color: #000000;
  margin-bottom: 4%;
}

/* "About Me" section */

.About-me-section {
  margin-top: 0%;
}

/*
.about-me-profession {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  font-style: normal;
  font-weight: bold;
  line-height: 17px;
  margin-bottom: 20px;
}
*/

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: calc(1rem + 57.5 * (100vw - 320px) / 1280);
  color: #1309094b;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.about-me-russian-name {
  font-style: normal;
  font-weight: bold;
  font-size: calc(0.675rem + 17.5 * (100vw - 320px) / 1280);
  color: #1309094b;

  width: 100%;
  margin-top: 1%;
  margin-bottom: 10%;
  line-height: 0px;
}

.about-me-text {
  font-style: normal;
  font-weight: bold;
  font-size: calc(0.4rem + 10.5 * (100vw - 320px) / 1280);
  line-height: 155%;
  color: #595959;
}

/* "My Projects" section*/
/*
.My-Projects-section {
  margin-bottom: 50px;
}

.My-Projects-list {
  padding: 0 0 0 18px;
}

.My-Projects-item {
  color: #000000;
  font-weight: bold;
}

.My-Projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.My-Projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.My-Projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* "My "Work Experience"-section */

.My-Work-Experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: calc(0.5rem + 17 * (100vw - 320px) / 1280);

  color: #000000;
  margin: 0 0 1.25% 0;
}

.My-Work-Experience-employer {
  font-style: normal;
  font-weight: bold;
  color: #fb6d3a;
}

.My-Work-Experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: calc(0.45rem + 10 * (100vw - 320px) / 1280);
  color: #a8a8a8;
  line-height: 0%;
  margin-bottom: 1.75%;
}

.My-Work-Experience-devider {
  color: #000000;
}

.My-Work-Experience-duties {
  margin: 0% 0% 2% 0%;
  padding-left: 4%;
}

.My-Work-Experience-duties-item {
  font-style: normal;
  font-weight: normal;
  font-size: calc(0.375rem + 10 * (100vw - 320px) / 1280);
  line-height: 150%;
  color: #595959;
}

.My-Work-Experience-company {
  margin: 0 0 0 0;
}

/* "My "Education"-section */

.My-education-section {
  margin-top: 5%;
}

.My-Education-college {
  font-style: normal;
  font-weight: bold;
  font-size: calc(0.5rem + 17 * (100vw - 320px) / 1280);
  color: #fb6d3a;
  line-height: 0%;
}

.My-Education-specialty {
  font-style: normal;
  font-weight: bold;
  font-size: calc(0.5rem + 17 * (100vw - 320px) / 1280);
  color: #000000;
  line-height: 0%;
  margin-bottom: 3%;
}

.Education-period {
  font-style: normal;
  font-weight: normal;
  font-size: calc(0.45rem + 10 * (100vw - 320px) / 1280);
  color: #a8a8a8;
}

.My-Education-period-devider {
  color: #000000;
}

.My-Projects-section {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 2.25vh; /*
  border: red solid 0.3px;*/
}
.My-Projects-section-chapter {
  /*
  border: red solid 0.3px; */
  display: flex;
  flex-direction: column;
  row-gap: 33%;
}

.My-Projects-description {
  display: flex;
  flex-direction: row;
  /* 
  border: red solid 0.3px;*/
}

.My-Projects-description-text {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: calc(0.3rem + 10 * (100vw - 320px) / 1280);
  line-height: 150%;
  color: #595959;

  line-height: 100%; /* 
  border: red solid 0.3px; */
  padding-left: 2%;
  padding-right: 1%;
}

.My-Projects-image {
  width: 20vw;
  height: 100%;
}

.Back-to-Top {
  position: absolute;
  scroll-behavior: smooth;
  margin-left: 77.5%;
  margin-bottom: 25%;
  min-width: 15vw;
}

.Back-to-Top-icon {
  opacity: 25%;
  transition-duration: 0.75s;
}

.Back-to-Top-icon:hover {
  opacity: 50%;
  transition-duration: 0.75s;
}

/* Sidebar Section */
.Sidebar-section {
  background-color: #12356ab9;
  /*  379.75px; */
  padding-top: 10vh;
  text-align: center;
  text-shadow: rgb(80, 84, 87);
  display: flex;
  flex-direction: column;
  row-gap: 9vh;
  min-width: 30vw;
}

.My-Photo {
  width: 100%;
  /* height: calc(100vh - 356px); */
}

.Sidebar-Title {
  font-style: normal;
  font-weight: bold;
  font-size: calc(0.45rem + 20 * (100vw - 320px) / 1280);
  color: #ffffff; /*
  border: 2px red solid; */
  margin-top: 0%;
  margin-bottom: 0%;
}

/* "Location"-section */

.Location-Title {
  font-style: normal;
  font-weight: bold;
  font-size: calc(0.45rem + 20 * (100vw - 320px) / 1280);
  color: #ffffff;
  margin-top: 0%;
  margin-bottom: 0vh;
}

.Location-section {
  font-style: normal;
  font-weight: bold;
  font-size: calc(0.45rem + 12.5 * (100vw - 320px) / 1280);
  color: #ffffff; /*
  border: 2px rgb(135, 128, 128) solid; */
}

.Location-section-list {
  margin-top: 0px;
  height: 100%;
  list-style: none;
  padding-left: 0%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  row-gap: 0vh;
  /* 
  border: solid 2px rgb(128, 0, 0); */
}
/*
.Location-list-item {
  /border: solid 2px rgb(0, 0, 0);
}
*/
.Location-item {
  font-style: normal;
  font-weight: normal;
  font-size: calc(0.45rem + 12.5 * (100vw - 320px) / 1280);
  color: #ffffff; /*
  border: solid 2px green; */
}

/* "Contacts"-section */

.Contacts-section {
  /*border: solid 2px green;*/
  height: 12vh;
}

.Contacts-list {
  margin-top: 0px;
  height: 100%;
  list-style: none;
  padding-left: 0%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  row-gap: 0vh;

  /* border: solid 2px rgb(128, 0, 0); */
}

.Contacts-list-item {
  color: #fb6d3a;
  list-style: none;
  height: fit-content; /*
  border: solid 2px rgb(159, 159, 172); */
  min-height: 1vh;
  font-style: normal;
  font-weight: bold;
  font-size: calc(0.275rem + 15 * (100vw - 320px) / 1280);
  color: #ffffff;
}
/*
.Contact-Type {
  
  border: red 2px solid; 
}
*/
.Contact-Content {
  color: #fb6d3a;
  font-style: normal;
  font-weight: normal;
  font-size: calc(0.275rem + 17 * (100vw - 320px) / 1280);
  text-decoration: none;
}

/* "Tech Skills"-section */

.Tech-Skills-section {
  /* border: red solid 2px; */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.Tech-Interests-list {
  /*
  margin-top: 0%;
  margin-bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: red solid 2px;
  width: 40vh;
  line-height: 2vh;
  height: 100%; */

  /* border: rgb(0, 255, 55) solid 2px; */
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-items: center;
  row-gap: 0vh;
  padding: 0px;
}

.Tech-Skills-List-Title {
  list-style: none;
}

.Tech-Skills-content {
  color: #fb6d3a;
  font-size: calc(0.325rem + 15 * (100vw - 320px) / 1280);
  /* border: rgb(0, 0, 0) solid 1px; */
}

.Tech-Skills-item {
  /* border: rgb(0, 0, 0) solid 1px; */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.05vw;
  color: #ffffff;
  margin-left: 0px;
}

.Code-item {
  list-style: none;
  margin-top: 1vh;
}
/* "JS-Code"-section */

details {
  color: #fb6d3a;

  font-size: calc(0.5rem + 10 * (100vw - 320px) / 1280);
  /* border: steelblue 2px solid; */
}

summary {
  color: #fb6d3a;
}

summary:hover {
  cursor: pointer;
}

pre {
  font-size: calc(0.2rem + 12.25 * (100vw - 320px) / 1280);

  text-align: left;
}

.Code-Example-Title {
  font-style: normal;
  font-weight: bold;
  font-size: calc(0.4rem + 12 * (100vw - 320px) / 1280);
  color: #ffffff;

  /* border: solid 1.5px red; */
}

.Code-Text {
  text-align: left;
}

/* "Courses & Certificates" - Section */

.Certificate-text {
  color: #fb6d3a;
}

/* "Soft Skills"-section */

.Soft-Skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center; /*
  border: 2px solid red; */
}

.Soft-Skills-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 0vh;
  color: #fb6d3a;
  font-size: calc(0.35rem + 13 * (100vw - 320px) / 1280);
  width: fit-content; /*
  border: 2px solid red; */
  padding: 0px;
}

.Soft-Skills-title {
  list-style: none;
}

.Soft-Skills-content {
  width: fit-content;
  color: #fb6d3a;
  justify-items: center;
  /*
  width: fit-content;
  padding-right: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: calc(0.5rem + 10 * (100vw - 320px) / 1280);
  color: #ffffff;*/
}
.Soft-Skills-item {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0%;
  color: #ffffff;
}

/* Footer-section */
.Footer-section {
  width: 100%;
  height: 3rem;
  position: relative;
  background-color: inherit;
  /* box-shadow: 1.5px 1.5px 7px rgba(0, 0, 0, 0.45); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Footer-text {
  color: #1a75ffec;
  text-decoration: none;
}

.RS-School-section {
  width: 8%;
}

.Github-section {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: 15%;
  font-size: calc(0.45rem + 14 * (100vw - 320px) / 1280);
}

.Github-logo {
  text-decoration: none;
  color: #63676dec;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #1a75ffec;
}

.Github-logo-image {
  text-decoration: none;
  width: 20%;
}

.Codewars-section {
  width: 30vw;
  height: 100%; /*
  border: red solid 2px; */
}

.Codewars-Patch-Image {
  height: 100%;
  width: 100%;
}
