* {
  scroll-behavior: smooth;
  user-select: text;
  -moz-appearance: none;
  -webkit-appearance: none;
}

html {
  display: flex;
  justify-content: center;
  align-content: center;
}

body {
  font-family: "Montserrat";
  background-color: #f5f7fa;
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 20%;
  max-height: fit-content;
  justify-content: center;
  /* border: 2px rgb(47, 158, 79) solid; */
}

.Main-section {
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}
/*
#Burger-menu {
  
  display: flex;
  gap: 0;
}
*/
.Burger-menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  margin-top: 4px;
  margin-right: 92.83%;
  opacity: 80%;
  transition-duration: 0s;
  width: 80px;
  height: 69px;
  transition-duration: 0s;
  /*
  border: 3px solid green; */
}

.Burger-menu-container:hover {
  opacity: 100%;
  transition-duration: 0.005s; /*
  box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.1); */
}

.Burger-menu-container-large {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 0%;
  padding-top: 0px;
  padding-left: 0px;
  margin-top: 0%;
  margin-right: 67.4%;
  opacity: 100%;
  width: 372px;
  height: 375px;
  background-color: #12356ab9; /*
  border: solid 2px orange; */
  border: 4px #12356ab9 solid;
}
/*
.Burger-menu-container-large:hover {
  opacity: 100%;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
*/
.Burger-menu-icon {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 80px;
  height: 69px;
}

.Burger-menu-list {
  margin-top: 0px;
  display: flex;

  justify-content: space-between;
  height: 80.7%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  row-gap: 0%;
  list-style: none;
  opacity: 80%;
  /* border: 3px solid rgb(255, 0, 0); 
  /*
  height: fit-content;
  width: 100%;
  /*
  border: 3px rgb(16, 15, 15) solid; */

  /*
  background-color: #12356ab9; */
}

.Burger-menu-list-item-container {
  text-decoration: none;
  border: 2px solid rgb(223, 220, 220);
  height: 11%;
}

.Burger-menu-list-item-container:hover {
  color: rgb(204, 16, 16);
}

.Burger-menu-list-item {
  display: flex;
  text-align: left;
  opacity: 100%;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  height: 79.3%;
  color: #ffffff;
  text-decoration: none;
  /* border: 3px solid rgb(4, 4, 4); */
  opacity: 100%;
}

.Burger-menu-list-item:hover {
  opacity: 100%;
  color: #fb6d3a !important;
  transition-duration: 0.3s;
}

/* "Main content" section */

.Main-content-section {
  position: relative;
  padding: 2.5% 90px 100px 90px; /*
  border: 3px rgb(0, 255, 72) solid; .*/
}

nav {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 15px;
  background-color: #12356ab9;
  padding: 0 2% 0 2%;
  border-radius: 10px;
}

.Top-menu-options-item {
  color: #fb6d3a;
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  opacity: 100%;
  transition-duration: 0.5s;
}

.Top-menu-options-item:hover {
  opacity: 70%;
  transition-duration: 0.35s;
}

.Main-Content-Titles {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

/* "About Me" section */

.About-me-section {
  width: fit-content;
  height: fit-content;
}

.about-me-profession {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  font-style: normal;
  font-weight: bold;
  line-height: 17px;
  margin-bottom: 20px;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 61px;
  line-height: 55px;
  color: #1309094b;
  margin: 0 0 0px 0;
}

.about-me-russian-name {
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 55px;
  color: #1309094b;
  margin-top: 1px;
}

.about-me-text {
  width: 600px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* "My Projects" section*/

.My-Projects-section {
  margin-bottom: 50px;
}

.My-Projects-list {
  padding: 0 0 0 18px;
}

.My-Projects-item {
  color: #000000;
  font-weight: bold;
}

.My-Projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.My-Projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.My-Projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* "My "Work Experience"-section */

My-Work-Experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 10px 0;
}

.My-Work-Experience-employer {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.My-Work-Experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.My-Work-Experience-devider {
  color: #000000;
}

.My-Work-Experience-duties {
  padding: 0 0 0 18px;
}

.My-Work-Experience-duties-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.My-Work-Experience-company {
  margin: 0 15px 0 0;
}

/* "My "Education"-section */

.My-education-section {
  margin-top: 50px;
}

.My-Education-college {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.My-Education-specialty {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.Education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.My-Education-period-devider {
  color: #000000;
}

.Back-to-Top {
  position: absolute;
  scroll-behavior: smooth;
  margin-left: 75%;
  margin-bottom: 25%;
}

.Back-to-Top-icon {
  opacity: 25%;
  transition-duration: 0.75s;
}

.Back-to-Top-icon:hover {
  opacity: 50%;
  transition-duration: 0.75s;
}

/* Sidebar Section */
.Sidebar-section {
  background-color: #12356ab9;
  width: 379.75px;
  padding-top: 75px;
  text-align: center;
  text-shadow: rgb(80, 84, 87);
  /*
  display: flex;
  flex-direction: row;
  column-gap: 4%;
  */
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.My-Photo {
  width: inherit;
}

.Location-Title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 1px;
}

.Sidebar-Title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 1px;
}

.Location-section {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.Location-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

/* "Contacts"-section */

.Contacts-list {
  margin-top: 0px;
}
.Contacts-list-item {
  color: #fb6d3a;
  list-style: none;
}
.Contact-Type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.Contact-Content {
  color: #fb6d3a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

/* "Tech Skills"-section */
.Tech-Interests-list {
  text-align: left;
  margin-top: 1px;
  padding-left: 91px;
  padding-right: 66px;
}

/*padding-left: 91px;
  padding-right: 62px;*/

.Tech-Skills-content {
  color: #fb6d3a;
}

.Tech-Skills-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 0px;
}

/* "JS-Code"-section */

details {
  /* border: solid 1.5px red; */
  width: 381px;
  color: #fb6d3a;
}
summary {
  color: #fb6d3a;
  height: 27.5px;

  /*border: solid 1.5px red; */
}

summary:hover {
  cursor: pointer;
}

pre {
  font-size: 12px;
  text-align: left;
}

.Code-Example-Title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  height: 20px;
  /* border: solid 1.5px red; */
}

.Code-Text {
  font-size: 12px;
  text-align: left;
}

/* "Courses & Certificates" - Section */

.Certificate-text {
  color: #fb6d3a;
}

/* "Soft Skills"-section */

.Soft-Skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Soft-Skills-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 0px;
}

.Soft-Skills-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1px;
  padding-right: 10%;
}

.Soft-Skills-content {
  color: #fb6d3a;
}
.Soft-Skills-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

/* Footer-section */
.Footer-section {
  width: inherit;
  position: relative;
  background-color: inherit;
  text-align: center;
  font-family: "Montserrat";

  color: blue;
  box-shadow: 1.5px 1.5px 7px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  justify-content: space-evenly;
  align-items: center;
}
/*padding-left: 91px;
padding-right: 66px; */

.Footer-text {
  color: #1a75ffec;
  text-underline-position: above;
  text-decoration: none;
  font-family: sans-serif;
}

.Github-section {
  vertical-align: middle;

  justify-content: center;
  align-items: center;
}

.Github-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1a75ffec;
}

.Codewars-section {
  width: 26%;
  height: 35px;
  background-image: url(https://www.codewars.com/users/Stellarator85/badges/large/);
  background-size: 100% 200%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

  /* justify-self: center;  */
}
